<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quanlysinhvien.Properties.Settings.QLBH_2ConnectionString"
            connectionString="Data Source=DESKTOP-66E4JOF;Initial Catalog=QLBH_2;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="quanlysinhvien.Properties.Settings.QLSINHVIENConnectionString"
            connectionString="Data Source=DESKTOP-66E4JOF;Initial Catalog=QLSINHVIEN;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="quanlysinhvien.Properties.Settings.QLSINHVIENConnectionString1"
            connectionString="Data Source=DESKTOP-66E4JOF;Initial Catalog=QLSINHVIEN;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="quanlysinhvien.Properties.Settings.QLSINHVIENConnectionString2"
            connectionString="Data Source=DESKTOP-66E4JOF;Initial Catalog=QLSINHVIEN;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>